/* Main Site Header */
#main-header {
    display: block;
    height: 250px;
    width: auto;
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
}

#main-header {
    text-align: center;
    padding-top: 125px;
    color: antiquewhite;
    font-size: 4rem;
}

/* primary website sections */
.flex-container {
    display: flex;
    align-items: flex-start;
    position: relative;
}


/* State Selection Form */
form.state-selector {
    display: table;
    padding-bottom: 18px;
}

label, input {
    display: table-cell;
    margin-bottom: 5px;
}

/* Brewery preview gallery */
.brewery-preview {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#brewery-preview > div {
    display: grid;
    align-content: center;
    justify-content: center;
    gap: 5px;
}

div > img {
    display: flex;
    margin: 10px 10px;
    width: 100px;
    height: 100px;
    align-content: center;
    flex-wrap: wrap;
}

.brewery-name {
    margin: 10px 10px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

/* CSS for hover event */
.gallery-card > div {
    padding: 5px;
}

.hovering {
    border: 2px solid;
    border-color: black;
}

/* list of liked breweries, brewery details, and map */
.details {
    width: 30%;
    display: inline-block;
}

/* list of saved breweries */
#liked-breweries {
    position: absolute;
    left: 10px;
}

#saved-breweries > li {
    text-decoration: underline;
    margin-top: 0px;
    text-align: left;
    margin-right: 0px;
}

#saved-breweries {
    display: inline-block;
    flex-direction: column;
    text-align: left;
    list-style-type: none;
}

/* map */
#detail-map {
    /* display: inline-flex */
    position: absolute;
    right: 0px;
}

#brewery-detail {
    text-align: left;
    margin-right: 1em;
}

#map {
    height: 300px;
    width: 300px;
    z-index: 1;
}

#default-image{
    position:absolute;
    top: -10px;
    left: -10px;
    height: 300px;
    width: 300px;
}

.shown {
    z-index: 2;
}

.hidden {
    z-index: 0;
}