/* Main Site Header */
#main-header {
    display: block;
    height: 250px;
    width: auto;
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
}

#main-header {
    text-align: center;
    padding-top: 125px;
    color: antiquewhite;
    font-size: 4rem;
}

.flex-container {
    display: flex;
    align-items: flex-start;
}

/* State Selection Form */
form.state-selector {
    display: table;
    padding-bottom: 18px;
}

label, input {
    display: table-cell;
    margin-bottom: 5px;
}

/* Brewery preview gallery */
.brewery-preview {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.flex-container > div {
    display: grid;
    align-content: center;
    justify-content: center;
    gap: 5px;
}

div > img {
    display: flex;
    width: 100px;
    height: 100px;
    align-content: center;
    flex-wrap: wrap;
}

.brewery-name {
    margin: 10px 10px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

/*list of liked breweries and brewery details */
#liked-brewery {
    width: 30%;
    display: flex;
}

.detail-box {
    display: block;
    width: 70%;
}

#brewery-detail {
    text-align: left;
}