/* Main Site Header */
#main-header {
    display: block;
    height: 250px;
    width: auto;
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
}

#main-header {
    text-align: center;
    padding-top: 125px;
    color: antiquewhite;
    font-size: 4rem;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

/* Dropdown Menu */
.dropbtn {
    background-color: darkgray;
    color: whitesmoke;
    padding: 10px;
    font-size: 24px;
    border: none;
    cursor: grab;
    margin-bottom: 15px;
}

.dropbtn:hover, .dropbtn.focus{ 
    background-color: lightgray;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: grey;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 10px 14px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: lightgray;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: lightgray;
}

/* .show {
    display: block;
} */

.flex-item {

}

